@import './shared/fonts';
@import './index';
@import './components/header';
@import './projects';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding: 150px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.absolute {
  position: absolute;
}

.self-typed {
  font-size: 30px;
  // color: white;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo {
  background-color: rgb(255, 255, 255);
  border-radius: 55%;
  padding: 10px 15px;
  .image {
    border-radius: 30px;
    max-height: 60px;
    min-height: 30px;
    height: 100%;
    max-width: 80px;
  }
}